<div class="wrap">
  <h1>Mis Habilidades Técnicas</h1>
  <div class="holder">
    @for (skill of skills; track skill.name; let i = $index) {
      <div class="bar-wrapper">
        <span class="label">{{ skill.name }}</span>

        <div class="progress-bg">
          <div class="bar-fill"
               [style.width]="animated ? skill.percent + '%' : '0%'"
               [style.transition-delay]="(i * 100) + 'ms'">
            @if (animated) {
              <span class="count">{{ skill.percent }}%</span>
            }
          </div>
        </div>
      </div>
    }
  </div>
</div>
