<div class="container">
  <h2>Servicios</h2>
  <div class="servcies-section-wrapper">
    <div class="services-box">
      <i class="bi bi-terminal"></i>
      <h3>Desarrollo Web</h3>
      <p>JavaScript, React, Node.js, MongoDB.. y todo lo que vendrá... Cuando el aprendizaje continuo forma parte de tu manera de hacer las cosas.</p>
    </div>
    <div class="services-box">
      <i class="bi bi-clock"></i>
      <h3>Automatizador de pruebas</h3>
      <p>Por que un hoy en dia, un desarrollador debe conocer y entender los objetivos de las personas u organizaciónes con las que colabora.</p>
    </div>
    <div class="services-box">
      <i class="bi bi-gem"></i>
      <h3>Diferente</h3>
      <p>Desarrollador Web Junior, Profesional Senior. Porque nunca es tarde para recomenzar cuando descubres una pasión que por si sola te levanta por las mañanas.</p>
    </div>
    <div class="services-box">
      <i class="bi bi-gem"></i>
      <h3>Conocimiento de Negocio</h3>
      <p>Improving your website’s visibility on search engines to drive traffic.</p>
    </div>
  </div>
</div>
