<div class="container">
  <h2>Servicios</h2>
  <div class="servcies-section-wrapper">
    <div class="services-box">
      <i class="bi bi-terminal"></i>
      <h3>Desarrollo Web</h3>
      <p>Creación de aplicaciones modernas y escalables utilizando JavaScript, Angular, Node.js y bases de datos. Comprometido con el código limpio y el aprendizaje constante de nuevas tecnologías.</p>
    </div>

    <div class="services-box">
      <i class="bi bi-robot"></i> <h3>QA & Automatización</h3>
      <p>Optimización del ciclo de desarrollo mediante pruebas automatizadas. Garantizo la calidad del software ahorrando tiempo y costes, entendiendo que un código sin fallos es la base del éxito.</p>
    </div>

    <div class="services-box">
      <i class="bi bi-graph-up-arrow"></i> <h3>Estrategia y Negocio</h3>
      <p>Visión analítica para alinear el desarrollo técnico con los objetivos de la empresa. Mejoro la visibilidad y el rendimiento de tu web para transformar las visitas en resultados reales.</p>
    </div>

    <div class="services-box">
      <i class="bi bi-stars"></i> <h3>Diferente</h3>
      <p>Lo que me hace diferente es mi mentalidad de aprendizaje continuo. En un sector que cambia cada día, mi curiosidad me permite anticiparme a las tendencias y aportar ideas frescas y disruptivas a cada proyecto.</p>
    </div>
  </div>
</div>
