#midSectionTitle_Container{
  position:fixed;
  background-color:transparent;
  width: 100%;
  height: 215px;
  margin-top:10%;
}

#left{
  background-color:transparent;
  float:left;
  width:50%;
  height:100%;
}


#ejrLogo{
  width:30%;
  height:100%;
  float:right;
  padding-top:5%;
}

#right{
  background-color:transparent;
  float:right;
  width:50%;
  height:100%;
}

#slantedLine{
  position:relative;
  float:left;
  left:-30px;
  width: 10%;
  height: 100%;
  border-right: 5px solid black;
  margin-top:-5px;
  transform: rotate(15deg)
}

#rightText{
  background-color:transparent;
  margin-top:5%;
  margin-left:10%;
  width:100%;
}

#rightText > h1{
  margin-bottom:15px;
  font-size:40px;
  font-family: 'Segoe UI';
}

#letterE{
  color :rgb(204, 173, 0);
}

#rightText > p{
  color:grey;
  font-style:italic;
  font-size:20px;
  font-family: 'Arial';
}

#socialMediaIcons{
  position: relative;
  left:-10px;
  background-color:transparent;
  width: 100%;
  height: 50px;
}

#socialMediaIcons ul {
  float:left;
  position:fixed;
  background-color:transparent;
  width:500px; /*160px*/
  height:55px;
  list-style-type: none;
}

#socialMediaIcons ul li {
    display: inline-block;
    border:2px solid transparent;
    background-color:transparent;
    margin:5px 10px 0 0;
    border-radius: 50%;
}


#socialMediaIcons ul li:hover{
   border:2px solid rgb(212,175,55);
}



#socialMediaIcons ul li a .icon {
      color: grey;
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      text-decoration: none;
      height: 35px;
      width: 35px;
      font-size:17px;
}

#socialMediaIcons ul li a .icon:hover{
  color: rgb(212,175,55);
}


