
<!--Main Page Mid-Section flexbox Start-->
<div id="midSectionTitle_Container">

  <div id="left">
		  <img id="ejrLogo" src="granada1.jpeg">
  </div>
  <div id="right">
      <div id="slantedLine"></div> <!--Slanted Line-->
      <div id="rightText"> <!--The heading/mid-section text-->
        <h1>Hola, <br /> Soy <span id="letterE">J</span>avi Lira. <br /> Desarrollo Full Stack </h1>
        <p>Full Stack Development</p>

                    <!--Social Media Icons Start-->
    <div id="socialMediaIcons">
            <ul>
                <li><a class="link" href="#"><i class="icon fb fa fa-facebook-f"></i></a></li>
                <li><a  class="link" href="#"><i class="bi bi-linkedin"></i></a></li>
                <li><a class="link" href="#"><i class="icon fa fa-twitter"></i></a></li>
            </ul>
    </div>
        <!--Social Media Icons End-->
      </div>
  </div>
</div>

