
<div id="midSectionTitle_Container">
  <div id="left">
    <img id="ejrLogo" src="granada1.jpeg">
  </div>

  <div id="right">
    <div id="slantedLine"></div>
    <div id="rightText">
      <h1>Hola, <br /> Soy <span id="letterE">J</span>avi Lira. <br /> Desarrollador Full Stack </h1>
      <p>Full Stack Development</p>

      <div id="socialMediaIcons">
        <ul>
          <li><a class="link" href="#"><i class="icon bi bi-github"></i></a></li>
          <li><a class="link" href="#"><i class="icon bi bi-linkedin"></i></a></li>
          <li><a class="link" href="#"><i class="icon bi bi-twitter-x"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<app-services></app-services>
