<nav class="navigation">

  <div class="nav-container">
    <div class="brand">
      <a href="#"><img id="ejrLogo" src="granada1.jpeg"></a>
    </div>

    <ul class="nav-list">

      <li>
        <a href="#">Home</a>
      </li>

      <li>
        <a href="#">Sobre Mi</a>
      </li>

      <li>
        <a href="#">Experiencia</a>
      </li>

      <li>
        <a href="#">Formacion</a>
      </li>

      <li>
        <a href="#">Habilidades</a>
      </li>

      <li>
        <a href="#">Contacta</a>
      </li>

    </ul>
  </div>

</nav>
