.navigation {
  position: relative; /* Para que siempre esté arriba al inicio */
  top: 0;
  width: 100%;
  height: 80px;
  background: #262626;
  z-index: 10;
  display: flex;
  align-items: center;
}

.nav-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}

.brand {
  font-size: 2em;
}

.brand a {
  color: #ffffff;
  text-decoration: none;
}

.nav-list {
  display: flex;             /* Los <li> se pondrán uno al lado del otro */
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-list li {
  transition: transform 0.3s ease;
}

.nav-list li:hover {
  transform: translateY(-5px); /* Sube 5 píxeles */
}

.nav-list li a {
  display: block;
  padding: 0 20px;
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s;
  transition: color 0.3s ease;
}

.nav-list li a:hover {
  color: #d2691e;
}

.nav-list li a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #d2691e;
  transition: width 0.3s ease;
}

.nav-list li a:hover::after {
  width: 100%;
}

#ejrLogo {
  height: 50px; /* Ajusta según tu imagen */
  width: auto;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-top: 20px;
  background: #fff4f5;
  z-index: 2000; /* Asegura que esté sobre todo */
  border-right: 1px solid #ffe2e3;
}

.menu li {
  position: relative;
}

.menu li a {
  display: flex;             /* Mejor que block para centrar iconos */
  justify-content: center;
  align-items: center;
  height: 5em;               /* Corregido */
  width: 5em;
  color: #ff5c62;
  background: #fff4f5;
  position: relative;
  border-bottom: 1px solid #ffe2e3;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}

/* Tooltip (El texto que sale al hacer hover) */
.menu li:after {
  content: attr(title);
  position: absolute;
  left: 5em;
  top: 0;
  height: 5em;
  display: flex;
  align-items: center;
  background: #ff5c62;
  color: white;
  padding: 0 2em;
  text-transform: uppercase;
  white-space: nowrap;
  transition: all 0.3s ease-in-out;
  visibility: hidden;
  opacity: 0;
  pointer-events: none; /* Para que no estorbe al ratón */
}

.menu li:hover:after {
  visibility: visible;
  opacity: 1;
}

/* Efectos de Hover y Activo */
.menu li a:hover,
.menu li a.active {
  background: #ff5c62;
  color: #fff;
}

/* La "flechita" indicadora para el link activo */
.menu li a.active:after {
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -10px; /* Centra la flecha */
  content: "";
  border: 10px solid transparent;
  border-left-color: #ff5c62;
}

/* Tamaño de los iconos */
.menu li a i {
  font-size: 1.5em;
}
