.navigation {
  height: 80px;
  background: #262626;
  display: flex;             /* Activamos Flexbox */
  align-items: center;       /* Centra todo verticalmente */
  justify-content: space-between; /* Manda el logo a la izquierda y el menú a la derecha */
  padding: 0 20px;           /* Espacio a los lados */
  position: relative;
  z-index: 10;               /* ¡Ojo! Asegúrate que esté sobre tus círculos de fondo */
}

.nav-container {
  width: 100%;          /* Muy importante: que ocupe todo el ancho */
  display: flex;        /* El contenedor ahora es el jefe del Flexbox */
  justify-content: space-between; /* Empuja el logo a la izquierda y el menú a la derecha */
  align-items: center;  /* Centra verticalmente logo y lista */
  padding: 0 30px;      /* Espacio a los lados para que no toquen el borde */
}

.brand {
  font-size: 2em;
}

.brand a {
  color: #ffffff;
  text-decoration: none;
}

.nav-list {
  display: flex;             /* Los <li> se pondrán uno al lado del otro */
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-list li {
  transition: transform 0.3s ease;
}

.nav-list li:hover {
  transform: translateY(-5px); /* Sube 5 píxeles */
}

.nav-list li a {
  display: block;
  padding: 0 20px;
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s;
}

.nav-list li a:hover {
  color: #d2691e;
}

#ejrLogo {
  width: 5vw;                /* Corregido de vm a vw */
  height: auto;              /* Mejor dejar height auto para no deformar */
}
