.navigation {
  height: 70px;
  background: #262626;
}

.nav-container {
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
}

.brand {
  float: left;
  line-height: 70px;
  font-size: 1.4em;
}

.brand a {
  color: #ffffff;
  text-decoration: none;
}

.nav-list {
  float: right;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-list li {
  float: left;
  position: relative;
}

.nav-list li a {
  display: block;
  padding: 0 20px;
  line-height: 70px;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

.nav-dropdown {
  position: absolute;
  background: #262626;
  list-style: none;
  padding: 0;
  margin: 0;
  min-width: 150px;
}

.nav-dropdown li a {
  padding: 15px;
  line-height: normal;
}

/* Responsive */

.nav-toggle {
  display: none;
  cursor: pointer;
}

.nav-toggle span {
  display: block;
  width: 25px;
  height: 3px;
  background: white;
  margin: 5px 0;
}

/* Mobile */

@media (max-width: 768px) {

  .nav-toggle {
    display: block;
    float: right;
    margin-top: 20px;
  }

  .nav-list {
    display: none;
    width: 100%;
    float: none;
  }

  .nav-list.open {
    display: block;
  }

  .nav-list li {
    float: none;
  }

  .nav-dropdown {
    position: static;
  }
}
