.navigation {
  height: 80px;
  background: #262626;
}

.nav-container {
  margin: 0 auto;
  margin-left: 20px;
  position: relative;
}

.brand {
  float: left;
  line-height: 70px;
  font-size: 2em;
}

.brand a {
  color: #ffffff;
  text-decoration: none;
}

.nav-list {
  float: right;
  list-style: none;
  margin: auto;
  margin-top: 4px;
  margin-right: 2vw;
  padding: 0;
  position: relative;
  font-size: 18px;

}

.nav-list li {
  float: left;
  position: relative;
}

.nav-list li a {
  display: block;
  padding: 0 20px;
  line-height: 70px;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

#ejrLogo {
  width: 5vm;
  height: 2vw;
}
