
  <nav class="navigation">

    <div class="nav-container">
      <div class="brand">
        <a href="#"><img id="ejrLogo" src="granada1.jpeg"></a>
      </div>

      <ul class="nav-list">

        <li>
          <a href="#">Home</a>
        </li>

        <li>
          <a href="#">Sobre Mi</a>
        </li>

        <li>
          <a href="#">Experiencia</a>
        </li>

        <li>
          <a href="#">Formacion</a>
        </li>

        <li>
          <a href="#">Habilidades</a>
        </li>

        <li>
          <a href="#">Contacta</a>
        </li>

      </ul>
    </div>

  </nav>

@if (isScrolled) {
  <nav class="nav-side">
    <ul class="menu">
      <li title="Home">
        <a href="#" class="bi bi-house-door"></a>
      </li>
      <li title="Sobre mi">
        <a href="#" class="bi bi-person-vcard"></a>
      </li>
      <li title="Experiencia">
        <a href="#" class="bi bi-briefcase"></a>
      </li>
      <li title="Formacion">
        <a href="#" class="bi bi-mortarboard"></a>
      </li>
      <li title="Habilidades">
        <a href="#" class="bi bi-code-slash"></a>
      </li>
      <li title="Contacta">
        <a href="#" class="bi bi-envelope-at"></a>
      </li>
    </ul>
  </nav>
}
